<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <script type="application/javascript" src="/js/tone.js"></script>
    <script type="application/javascript">
      // Tone('<%=type%>', <%=hz%>).play();
    </script>
    <title>Hertz Guru</title>
  </head>
  <body>
    <header>
      <h1>Hz Guru</h1>
    </header>
    <nav></nav>
    <main>
      <p>application to do stuff</p>
    </main>
    <footer></footer>
  </body>
</html>
