<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <% Dir["public/js/*"].each { |file| %><script type="application/javascript" src="<%=file.sub("public","")%>"></script>
    <%}%><title>Hertz Guru</title>
  </head>
  <body>
  </body>
</html>
