<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="application/javascript" src="/js/tone.js"></script>
    <script type="application/javascript">
      Tone('<%=type%>', <%=hz%>).play();
    </script>
    <title>Hertz Guru</title>
  </head>
  <body>
  </body>
</html>
