<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="application/javascript">
      var AudioContext = AudioContext || webkitAudioContext,
          context = new AudioContext(),
          oscillator = context.createOscillator();

      oscillator.type = <%= wave_type %>;
      oscillator.frequency.value = <%= hz_val %>;

      oscillator.connect(context.destination);
      oscillator.start(0);
    </script>
    <title>Hertz Guru</title>
  </head>
  <body>
  </body>
</html>
